OPENSEARCH_INITIAL_ADMIN_PASSWORD
OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m  # minimum and maximum Java heap size, recommend setting both to 50% of system RAM
cluster.name=
node.name=
discovery.seed_hosts=
cluster.initial_cluster_manager_nodes=
bootstrap.memory_lock=true

discovery.seed_hosts=
cluster.initial_master_nodes=